.message-wrapper {
  background-color: #f7f7f7;
  color: #2d3436;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #9b59b6;
  cursor: pointer;
  box-shadow: 0 7px #8e44ad;
  border-radius: 10px;
}

.message:active {
  position: relative;
  top: 8px;
  box-shadow: none;
}

.footer {
  background-color: rgb(16, 2, 2,0.9);
  color: #fff;
  height: 130px;
  padding: 50px;
}

.footer-logo {
  font-family: sans-serif;
  font-size: 40px;
  color: #45ce30;
  float: right;
}

.h3 {
  color: #32ff7e;
}

.footer-list {
  font-family: monospace;
  font-size: 13px;
  color: white;
  float: left;
}

.footer-list li {
  color: white;
  list-style: none;
  padding-bottom: 5px;
}

@media all and (max-width: 1000px) {
	#footer {
		margin-top: 13.2%;
	}
}

@media all and (max-width: 640px) {
	#footer {
		margin-top: 15%;
	}
}

@media all and (max-width: 670px) {
	#footer {
		margin-top: 13.2%;
	}
}
