header{
    background-color:rgb(16, 2, 2,0.9);
    width:100%;
    height:65px;
    position:fixed;
    top:0;
    z-index: 10;
    font-family:sans-serif;
}
.header-container{
    padding:0 auto;
    margin:0 auto;
}
.header-left{
    float:left;
}
.header-title{
    color:#45CE30;
    font-size:28px;
    font-weight: bold;
    padding-top:18px;
    margin-left:20px;
    float:left;
}
.header-list{
    color: white;
    float:left;
}
.header-list li{
    float:left;
    list-style:none;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
}
.header-list a{
    color:white;
    text-decoration:none;
}
.header-right{
    transition:all 1s;
    margin:0 auto;
}
.header-right a{
    background-color:rgba(255, 255, 255, 0.3);
    float:right;
    color:white;
    display:block;
    line-height:65px;
    padding-left:15px;
    padding-right:15px;
    text-decoration:none;
}
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}