#konten2 {
	margin-top: 4.8%;
	background-color: #342b38;
	color: white
}

.konten2h1 {
	text-align: center;
	font-variant: small-caps;
}

.konten2p {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	word-spacing: 5px;
}


@media all and (max-width: 670px) {
	#konten2 {
		margin-top: 13.2%;
	}
}
