#konten2 {
	margin-top: 4.8%;
	background-color: #342b38;
	color: white;
	height: 100%;
	animation: pulse 5s infinite;
}

.konten2h1 {
	text-align: center;
	font-variant: small-caps;
}

.konten2p {
	text-align: center;
	width: 70%;
	margin: 0 auto;
	word-spacing: 5px;
}

@keyframes pulse {
  0% {
    background-color: #092532;
  }
  100% {
    background-color: #c70039;
  }
}

@media all and (max-width: 1000px) {
	#konten2 {
		margin-top: 13.2%;
	}
}

@media all and (max-width: 640px) {
	#konten2 {
		margin-top: 15%;
	}
}

@media all and (max-width: 670px) {
	#konten2 {
		margin-top: 13.2%;
	}
}
